*   {
    font-family: 'Outfit', sans-serif;
    color: white;
}
#main   {
    background-color: hsl(217, 54%, 11%);
    height: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#card   {
    background-color: hsl(216, 50%, 16%);
    height: 650px;
    width: 400px;
}
#NFT-Graphic    {
    height: 350px;
    width: 350px;
    margin: 15px 20px;
}
#countdown  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#avatar {
    height: 65px;
    border-radius: 50%;
}
#time, #icon   {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.icon   {
    height: 25px; 
}